* {
    box-sizing : border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

header {
    background-color: #008489;
    height : 66px;

}

header * {
    color : white
}

header .logo{
    float : left;
    margin-left: 2em;
    height: inherit;

}

header .logo-text{
    margin : 9px;
}

header .logo-text span{
    color : #04f7ff;
}

header ul{
    float : right;
    margin : 0px;
    padding : 0px;
    list-style: none;

}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top:66px;
    right:0px;
    width:180px;
    display: none;
} /* Header의 크기가 66px이기때문에
66px부터 시작한다 */

header ul li:hover ul{
    display: block;
} /* 마우스를 올리면 display가 되도록 */

header ul li ul li{
    width:100%;
} /* 부모 클래스에 대비하여 100%의 너비 */

header ul li ul a{
    padding: 10px;
    background-color: #008489;
    color:white;
    text-align: center;
} /* 마우스가 올라가면 헤더와 같은 색으로
하여 출력해준다. */

header ul li ul a :hover{
    background-color: #00f7ff;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1em;
    text-decoration: none;
}

header ul li a:hover{
    background: #006669;
    transition: 0.5s;
}

header .menu-toggle{
    display: none;
}
.mouse-margin {
    margin-bottom: 5px;
}
.logo_a{
    text-decoration: none;
}
.header_list{
    z-index: 100;  
    /* 메뉴 가려지는거 방지하기 위함 */
}