.licontent{
    width: 90%;
    margin: 30px auto 30px;
}

.licontent .main-content{
    width : 95%;
    float: center;
}

.licontent .main-content .post{
    width : 95%;
    height : 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative ;
    border-style:inset;
    padding: 5px;
}

.licontent .main-content .post .get-more{
    position: absolute;
    bottom: 10px;
    right : 10px;
    border:1px solid #006669;
    background: transparent;
    border-radius: 10px;
    color:#006669 !important;
}

.licontent .main-content .post .get-more:hover{
    background:#006669;
    color : white !important;
    transition: .25s;
}

/* .licontent .main-content .recent-post-title{ */
.recent-post-title{
   /* margin-left:40px; */
   padding-top: 16px;
   margin: 0 0 0 92px;
   font-size: 44px;
}

.licontent .main-content .post .post-image{
    widows: 40%;
    max-width: 350px;
    height : 100%;
    float : left;
    border-radius: 15px;
}
.display-img-container{
    /* width: 350px; */
}
.display-img-container img{
    object-fit: contain;
    width: 400px;
}
.licontent .main-content .post .post-preview{
    /* widows: 60%; */
    width: 550px;
    height : 100%;
    /* float : left; */
    float: left;
    margin-left: 20px;
    /* margin-right: 180px; */
    font-size:15px;
}

.clearfix::after{
    content : '';
    display: block;
    clear: both;
}

.post-cockname{
    font-size: 30px;
}

.post-material{
    font-size : 20px;
}

.btn{
    padding: .1rem 0.7rem;
    background: #026468;
    color :white;
    border : 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none;
}

.btn:hover{
    color:white !important;
    background: rgb(0, 0, 0);
}
@media screen and (max-width: 1200px){
    .licontent .main-content .post .post-preview{
        font-size: 10px;
        width: 200px;
    }
    .post-material{
        font-size : 14px;
    }
    .post-cockname{
        font-size: 20px;
        font-weight: bold;
    }
    
}
@media screen and (max-width: 700px){
    .licontent .main-content .post .post-preview{
        font-size: 10px;
        width: 200px;
    }
    .post-material{
        font-size : 14px;
    }
    .post-cockname{
        font-size: 20px;
        font-weight: bold;
    }
    .licontent .main-content .post .post-image{
        width: 200px;
    }
}
/* @media screen and (max-width:1200px){
    .licontent .main-content .post .post-preview{
        height : 100%;
        float : left;
        margin-left: 8px;
        font-size:15px;
        width: 400px;
    }
}
@media screen and (max-width:700px){
    .post-cockname{
        font-size: 24px;
        font-weight: bold;
    }
    .licontent .main-content .post .post-image{
        widows: 40%;
        max-width: 260px;
        height : 100%;
        float : left;
        border-radius: 15px;
    }
    .licontent .main-content .post .post-preview{
        widows: 60%;
        height : 100%;
        float : left;
        margin-left: 8px;
        margin-right: 80px;
        font-size:10px;
        width: 250px;
    }
}
@media screen and (max-width:770px){
    .post-cockname{
        font-size: 24px;
        font-weight: bold;
    }
    .licontent .main-content .post .post-image{
        widows: 40%;
        max-width: 260px;
        height : 100%;
        float : left;
        border-radius: 15px;
    }
    .licontent .main-content .post .post-preview{
        widows: 60%;
        height : 100%;
        float : left;
        margin-left: 8px;
        margin-right: 80px;
        font-size:10px;
        width: 250px;
    }
} */
