<!DOCTYPE html>
<head>
    <title>All Cocktail Format</title>
    <link rel = "stylesheet" href = "header.css">
    <link rel = "stylesheet" href = "footer.css">
    <link rel = "stylesheet" href = "list.css">
    
</head>

<body>
    <header>
        <div class = "logo">
            <h1 class = "logo-text"><span>오늘의</span> 칵테일</h1>
        </div>
        <i class = "fa fa-bars menu-toggle">ssdd</i>
        <ul class = "nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Services</a>
                <ul>
                    <li><a href ="#">오늘의 순위</a> 
                    <li><a href ="#">칵테일 추천</a>
                    <li><a href ="#">칵테일 리스트</a>
                </ul>
            </li>
        </ul>
    </header>

    <main>
        <div class = "licontent clearfix">
            <div class = "main-content">
                <h1 class = "recent-post-title">Cocktail List</h1>
                
                <div class = "post">
                    <a href = "Cocktail_detail.html"><img src = "icon.JPG" alt = "" class = "post-image"></a>
                    <div class = "post-preview">
                        <div class = "post-cockname"> 칵테일이름</div><br/>
                        <div class = "post-material"> 재료들</div>
                        <p>
                            이 칵테일의 역사~~
                        </p>
                        <a href = "Cocktail_detail.html" class = "btn get-more">Get More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="footer">
        <div class="footer__addr">
          <h1 class="footer__logo">오늘의 칵테일</h1>
          <h2>Contact</h2>
          <address>[30019] 세종특별자치시 세종로 고려대학교 세종캠퍼스 과학기술2관 314호<br>
            <a class="footer__btn" href="mailto:tykimdrea@korea.ac.kr">Email Us</a>
          </address>
        </div>
        
        <ul class="footer__nav">

          <li class="nav__item nav__item--extra">
            <h2 class="nav__title">개발자 소개</h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <span>
                    김효민<br>
                    <a href = "https://sejong.korea.ac.kr/mbshome/mbs/software/index.do">고려대학교 컴퓨터정보학과</a><br>
                    rlagyalsdlek@korea.ac.kr
                </span>
              </li>
              <li>
                <a href="https://www.instagram.com/kim_pikan/">@min_97</a></li>
            </ul>
          </li>

          <li class="nav__item nav__item--extra">
            <h2 class="nav__title"><br></h2>
            
            <ul class="nav__ul nav__ul--extra">
              <li>
                <span>
                    김지환<br>
                    <a href = "https://sejong.korea.ac.kr/mbshome/mbs/software/index.do">고려대학교 컴퓨터정보학과</a><br>
                    tykimdream@korea.ac.kr</span>
              </li>
              <li>
                <a href="https://www.instagram.com/kim_pikan/">@kim_pikan</a></li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title">Legal</h2>
            
            <ul class="nav__ul">
              <li>
                <a href="https://policy.naver.com/policy/service.html">Privacy Policy</a>
              </li>
              
              <li>
                <a href="https://policy.naver.com/policy/search_policy.html">Terms of Use</a>
              </li>
              
              <li>
                <a href="https://policy.naver.com/policy/disclaimer.html">Sitemap</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2021 오늘의칵테일. All rights reserved.</p>
          
          <div class="legal__links">
            <span>Made for <span class="heart">IoT Web Programming</span></span>
          </div>
        </div>
      </footer>
</body>
</html>