.about_page{
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin-bottom: 3%;
    color: gray;
}

.about_page:hover{
    color:#d8dfef;
}

.subtitle{
    line-height: 30px;
    font-size:25px;
    margin-left: 10%;
    margin-bottom: 1%;
    font-weight: bold;
}

.for{
    margin-left: 13%;
    line-height: 40px;
    font-size:20px;
}

.deve{
    margin-left: 13%;
    width : 900px;
    height :260px;
    border : 1px solid black;
    padding: 5px;
    margin-top : 10px;
    
}

.profile{
    width:300px;
    height: 250px;
    float:left;
}

.career{
    width:550px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 15px;
    float:left;
}

.name{
    font-size: 25px;
}

.dummy{
    background-color: #d8dfef;
}