.today_cocktail_title{
    font-size: 60px;
    text-align: center;
}
.today_cocktail_subtitle{
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
}
.hash_list{
    /* display: inline-flex;
    display: flex; */
    font-size: 20px;
}
.hash_list_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title_tag{
    font-size:50px;
}
.land-main-container{
    width: 1080px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(25, 25px);
    gap: 5px;
}
.land-temp-box{
    /* background: #f2f4f7; */
    text-align: left;
    font-size: 25px;
    border : none;
    
    margin: 0px;
    padding:10px;
}
.land-box-logo{
    grid-column: 1/2;
    grid-row: 1/3;
    text-align: center;
}
.land-box-title{
    grid-column: 2/4;
    grid-row: 1/3;
    font-size:30px;
}
.land-box-homebutton{
    grid-column: 8/10;
    grid-row: 1/3;
    border:1px solid;
    text-align: center;
}
.land-box-rank_title{
    grid-column: 3/8;
    grid-row: 1/4;
    font-size:55px;
    font-weight: 500;
    text-align: center;
}
.land-box-tag1{
    grid-column: 1/4;
    grid-row: 5/7;
    text-align: center;
}
.land-box-tag2{
    grid-column: 4/7;
    grid-row: 5/7;
    text-align: center;
}
.land-box-tag3{
    grid-column: 7/10;
    grid-row: 5/7;
    text-align: center;
}
.land-box-img{
    grid-column: 1/4;
    grid-row: 7/25;
    /* border:1px solid; */
}
.land-box-img img{
    object-fit: cover;
}
.land-box-name{
    grid-column: 4/10;
    grid-row: 7/10;
    font-size: 40px;
}
.land-box-info-title{
    grid-column: 4/7;
    grid-row: 10/12;
}
.land-box-info{
    grid-column: 4/7;
    grid-row: 12/25;
}
.land-box-decision-text{
    grid-column: 7/10;
    grid-row: 17/21;
}
.land-box-decision-good{
    grid-column: 7/8;
    grid-row: 21/23;
    text-align: center;
    border:1px solid;
}
.land-box-decision-bad{
    grid-column: 9/10;
    grid-row: 21/23;
    text-align: center;
    border:1px solid;
}
.land-box-decision-result-text{
    grid-column: 7/10;
    grid-row: 23/25;
    font-size: 15px;
}
.land-cocktail_img{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    width: 200px;
    height: 200px;
}
.land-box-img img{
    width:300px;
    height: 400px;
}
.hash_title{
    grid-column: 4/9;
    grid-row: 1/3;
    margin-top: 25px;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    border: none;
}
.hash-sub-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;   
}
.hash_input{
    /* text-align: center; */
    font-size: 40px;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px;   
}
.hash-main-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
.hash-box{
    text-align: center;
    font-size: 20px;
    border : 1px solid;
    border-radius: 18px;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
.hash-box:hover{
    background-color:darkturquoise;
}
.hash-main-container a{
    text-decoration: none;
    color:black;
}
@media screen and (max-width:780px){
    .hash-box{
        width: 80%;
        font-size:12px;
    }
}